<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd ">

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/web*" />
			<mvc:mapping path="/property*" />
			<mvc:exclude-mapping path="/b/*" />
			<bean class="sample04.interceptor.AuthInterceptor">
				<property name="goIfDeny" value="堃文${go.if.deny}" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
